li{
  list-style: url("../images/hand-point-right-solid.svg");
  font-size: 1rem
}
.nav-section{
  background-color: rgb(0, 32, 53);
  height: 7rem;
  color: white;
  font-size: 2.5rem;
  line-height: 2.25rem;
  /* font-family: 'Fredericka the Great', cursive; */
  /* font-family: 'Black Ops One', cursive; */
  /* font-family: 'Baloo', cursive; */
  /* font-family: 'Kumar One Outline', cursive; */
  /* font-family: 'Emblema One', cursive; */
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.name{
  text-decoration: none;
  color: white;
  transition: .2s;
}
.resume-object{
  width: 750px;
  height: 1050px;
}
.name:hover{
  color: rgb(236, 153, 44);
  text-decoration: none

}
.row1{
  background-color:rgb(0, 39, 65);
  height: 25rem;
}
.row1-middle{
  background-color: rgb(0, 44, 73);
  font-size: 4rem;
  text-align: center;
  padding-top: 9rem;
}
.resume{
  color: rgb(218, 218, 218);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.resume-g{
  color: rgb(0, 32, 53)
}
.resume-g:hover{
  text-decoration: none;
  color: rgb(128, 128, 128)
}
.resume:hover{
text-decoration: none;
color: rgb(179, 115, 32)
}
.pic{
  border: 5px solid rgb(221, 221, 221);
  height: 115px;
  margin-top: 2rem;
}
.nav-titles{
  font-size: 1.25rem;
  /* text-align: center; */
  margin-top: 1rem;
}
.nav-titles a{
  font-size: 1rem;
  text-align: center;
  margin-top: 1rem;
  color: white;
  text-decoration: none;
  transition: .15s;
}
.nav-titles a:hover{
  color: rgb(218, 143, 45)
}
.icon-margin{
  margin-right: 2rem

}
.sub-line{
  font-size: 1.25rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.nav-icons{
  font-size: 1.75rem;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
}
.row1-text{
  color: rgb(221, 221, 221);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  font-size: 1.5rem;
  text-align: left;
}
.icon-area{
  background-color: rgb(226, 226, 226);
  text-align: center;
  font-size: 2.5rem;
  color: rgb(0, 39, 65);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.icon-area2{
  background-color: rgb(240, 240, 240);
  text-align: left;
  font-size: 2.5rem;
  color: rgb(0, 39, 65);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.icon-area3{
  background-color: rgb(226, 226, 226);
  text-align: right;
  font-size: 2.5rem;
  color: rgb(0, 39, 65);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.orange{
  color: rgb(218, 143, 45)
}
.crystal-text{
  color: rgb(218, 218, 218)
}
.tennessee,
.carolina{
  font-size: 1.5rem;
  color: rgb(221, 221, 221);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  
}
button.close{
  width: 750px
}
.clear-a{
  text-decoration: none
}
.row2{
  background-color: rgb(226, 226, 226);

}
.row3{
  background-color: rgb(240, 240, 240);
  padding-bottom: 30rem;
  padding-top: 6rem;
}
  .card-group{
    padding-right: 5rem;
    padding-left: 5rem;
    }
.works{
  padding: 3rem
}
.row4{
  background-color: rgb(226, 226, 226);
  padding-top: 2rem;
}
.row5{
  background-color: rgb(0, 32, 53);
}
.more-proj{
  font-size: 1.2rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: rgb(0, 39, 65);
  border-radius: 25px;
  padding: 2rem
}
.giphy-object{
  border-radius: 25px;
  width:100%;
  height:150%;
}
.blog-object{
  width: 100%;
  height: 2000%
}
.render{
  background-size: 29rem;
  font-size: 1.25rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: rgb(0, 39, 65);
  border-radius: 25px;
  padding: .25rem ;
}
.about{
  /* background-color: rgb(218, 143, 45); */
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border-radius: 25px;
  padding: 2rem;
  color: rgb(0, 32, 53);
  font-size: 1.5rem;
}
.darker-text{
  color: rgb(0, 60, 100)
}
.about-pic{
color: rgba(50, 50, 50, 0.5);
font-size: 35rem;
margin-top: 3rem;
margin-left: 5rem;
transition: .5s;
}
.about-pic:hover{
  color: rgb(218, 143, 45)
}
.contact{
  font-size: 1.5rem;
  color: rgb(0, 39, 65);
  padding: 2rem;
  background-color: rgb(226, 226, 226);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border-radius: 25px;
}
.contact-pic{
  transition: .2s;
  color: rgb(240, 240, 240);
  font-size: 10rem;
  position: absolute;
  bottom: .2rem;
  right: 3rem;
}
.contact-pic:hover{
  color: rgb(218, 143, 45)
}
.top-arrow{
  z-index: 100;
  font-size: 2rem;
  bottom: 1.5rem;
  right: .8rem;
  position: fixed;
  color: rgb(218, 143, 45);
  background-color: rgba(0, 84, 139,.5);
  border-radius: 5px;
  padding: .5rem;
  transition: .4s
}
.top-arrow:hover{
  background-color: rgb(0, 84, 139)
}
.footLeft{
  color: #ffffff
}
.footLeft:hover{
  color: rgb(218, 143, 45)
}
.footMiddle{
  color: #e6e6e6
}
.footRight{
  color: #c4c4c4
}
.gitLink{
  color: rgb(172, 172, 172)
}
.gitLink:hover{
  color: rgb(218, 143, 45)
}
.divider{
  color: rgb(226, 226, 226)
}
.card{
  background-color: rgb(226, 226, 226);
  border: none;
  transition: .25s;
}
.card:hover{
  z-index: 10;
  -webkit-transform: scale(1.025);
  -ms-transform: scale(1.025);
  transform: scale(1.025);
  background-color: rgb(255, 255, 255);
  box-shadow: 1px 0px 26px 0px rgba(50, 50, 50, 0.5);
}
.tech{
  color: rgb(0, 32, 53);
  background-color: rgb(240, 240, 240);
}
.tech-images img{
  margin: 1rem;
  opacity: .85;
  transition: .25s;
  width: 100%;

}
.tech-images img:hover{
  opacity: 1;

}

@media only screen and (max-width: 1600px) {
  .row1-text{
    font-size: 1.25rem;
  }
  .tennessee,
  .carolina{
     font-size: 1.25rem;
}
  .giphy-object{
    border-radius: 25px;
    width:100%;
    height:100%;
  }
  .about-pic-div{
    display: none;
  }
}

@media only screen and (max-width: 1100px) {
.card-group>.card {
    -webkit-box-flex: 1;
    -ms-flex: 100%;
    flex: 100%;
    margin-bottom: 2rem;
    z-index: 10;
  -webkit-transform: scale(1.025);
  -ms-transform: scale(1.025);
  transform: scale(1.025);
  background-color: rgb(255, 255, 255);
  box-shadow: 1px 0px 26px 0px rgba(50, 50, 50, 0.5);
  }

}

@media only screen and (max-width: 1000px) {
.row3{
  display: table-row;
  }
  .row1-middle{
    font-size: 2.5rem
  }
  .row1-text,
  .about,
  .contact,
  .tennessee,
  .carolina{
     font-size: 1.1rem;
}
  .render,
  .more-proj,
  .giphy-object{
    height: 25rem;
  }
  .col-sm-7,
  .col-sm-3,
  .col-sm-6 {
    -webkit-box-flex: 0;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .contact-pic{
    visibility: hidden;
  }
  .pic{
    height: 75px;
    position: relative;
  }
}
@media (max-width: 850px){
  .nav-icons{
    margin-top: 1.5rem;
    font-size: 1.8rem
  }
}
@media (max-width: 750px){
  .resume-object{
    width: 300px;
    height: 600px;
  }
  .card-group{
    padding-right: 0;
    padding-left: 0;
    }
.row1{
  display: table-row;
 }
 .blog-row{
   /* display: table-row; */
   /* width: 100% */
 }
 .col-sm-4{
   -webkit-box-flex: 0;
   flex: 0 0 100%;
   max-width: 100%;
   height: 10rem
 }
 .pic{
   float: left;
  height: 50px;
  margin-top: 0;
  border: 2px solid rgb(221, 221, 221);
  display: none;
}
.row1-text{
  font-size: .95rem;
  padding-top: 1rem;
}
.resume{
  font-size: 2.5rem;
  position: relative;
  bottom: 6rem
}
.carolina{
  float: left;
  font-size: .95rem;
  margin-left: 3rem
}
.tennessee{
  float: left;
  font-size: .95rem;
  margin-left: 5rem
}
.nav-section{
  text-align: center;
  /* display: table-row; */
  height: 11rem;
  width: 100%
}
.icon-margin{
  margin-right: .8rem
}
.name-pos-750{
  text-align: center
}
.nav-icons{
  margin-top: 1.3rem;
  font-size: 1.5rem
}
.about,
.more-proj,
.crystal-text{
  padding: .5rem
}
}
@media (max-width:577px){
  .icon-text{
    visibility: hidden;
  }
}

@media (max-width: 425px){
  .about,
  .more-proj,
  .render{
    height: 30rem
  }
  .about{
    height: 50rem;
  }
  .icon-text{
    display: none
  }
}

@media (max-width: 321px){
.carolina{
  margin-left: 2rem;
}
.tennessee{
  margin-left: 2rem
}
.nav-icons{
  font-size: 1.3rem;
  margin-top: .8rem
}
.icon-margin{
  margin-right: .6rem
}
.col-sm-4{
  height:11rem
}
.more-proj{
  padding: .75rem;
  font-size: 1rem;
  height: 33rem;
}
.render{
  height: 28rem;
}
.about{
  padding: .75rem;
  font-size: 1rem;
  height: 59rem;

}
.resume-object{
  width: 275px;
  height: 525px;
}
.works{
  padding: .5rem
}
.crystal-text{
  padding: .5rem
}

}
