/* =========== Navbar ============================== */
.nav-section{
  background-color: rgb(218, 218, 218);
  height: 3rem;
  color: white;
  font-size: 2rem;
  line-height: 1.75rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  padding-bottom: 0;
  border-bottom: 5px solid rgb(218, 143, 45)
}
.nav-section .col-sm-2{
  padding-bottom: 0;
}
.name{
  text-decoration: none;
  color: rgb(0, 44, 73);
  transition: .2s;
  font-size: 2rem;
  position: relative;
  top: .85rem;
}
.name:hover{
  color: rgb(218, 143, 45);
  text-decoration: none
}
.nav-titles{
  font-size: 1.25rem;
  margin-top:0.25rem;
  margin-bottom: .25rem;
  padding-bottom: 0;
}
.nav-titles a{
  text-align: center;
  margin-top: 1rem;
  color: rgb(0, 44, 73);
  text-decoration: none;
  transition: .15s;
}
.nav-titles a:hover{
  color: rgb(218, 143, 45);
}
.icon-margin{
  margin-right: 2rem;
}
.nav-icons{
  font-size: 1.125rem;
  text-align: center;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.top-arrow{
  z-index: 100;
  font-size: 2rem;
  bottom: 1.5rem;
  right: .8rem;
  position: fixed;
  color: rgb(218, 143, 45);
  background-color: rgba(0, 84, 139,.5);
  border-radius: 5px;
  padding: .5rem;
  transition: .4s
}
.top-arrow:hover{
  background-color: rgb(0, 84, 139)
}
.git-nav{
  height: 2rem;
  position: relative;
  bottom: .5rem;

}
/* =========================== Upper blue section ======================= */
.row1{
  background:  
  linear-gradient(to bottom right,
    #0a163ada, 
    #a47517ec
    ),
   url('../images/mtn_2.jpg');
  /* box-shadow: 0px 1px 1px grey; */
  /* border-bottom: 8px solid #13a2b8; */
  width: 100%;
  background-size: 5%;
  min-height: 15rem; 
  background-attachment: fixed;
  background-position: left;
  background-repeat: no-repeat;
  background-size: cover;
}
.row1-text{
  color: rgb(221, 221, 221);
  /* font-family: 'Bad Script', cursive; */
  font-size: 1rem;
  text-align: left;
  /* background-color: rgba(0, 0, 0, 0.192); */
}
#next-btn{
  color: white;
  background-color: rgba(0, 0, 0, 0.226);
  padding: .25rem;
  font-size: .75rem;
}
#next-btn:hover{
  background-color: rgba(255, 157, 0, 0.192);
}
#next-btn:focus{
box-shadow: 0 0 0 0 rgba(0, 0, 0, 0)
}
.row1-middle{
  background-color: rgba(0, 0, 0, 0.171);
  font-size: 3rem;
  text-align: center;
  padding-top: 8rem;
}
.resume,
.resume-g{
  color: rgb(218, 218, 218);
  transition: .25s;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.resume-g:hover,
.resume:hover{
  text-decoration: none;
  color: rgb(128, 128, 128)
}
.tennessee,
.carolina{
  font-size: 1.5rem;
  color: rgb(221, 221, 221);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.carolina-image{
  width: 6rem
}
.tennessee-image{
  width: 3rem
}
/* ====================== Everything Else ===================================== */
.tech-describe{
  color: rgb(218, 143, 45);
  font-size: 2rem;
  text-align: center;
  font-weight: bold;
}
.responsive{
  background-color: rgb(240, 240, 240);
  padding-top: 7rem;
  padding-bottom: 5rem;
}
.icon-area{
  background-color: rgb(226, 226, 226);
  text-align: center;
  font-size: 2.5rem;
  color: rgb(0, 39, 65);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.icon-area2{
  background-color: rgb(240, 240, 240);
  text-align: left;
  font-size: 2.5rem;
  color: rgb(0, 39, 65);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.icon-area3{
  background-color: rgb(226, 226, 226);
  text-align: right;
  font-size: 2.5rem;
  color: rgb(0, 39, 65);
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
}
.orange{
  color: rgb(218, 143, 45)
}
.row2{
  background-color: rgb(226, 226, 226);
}
.row2bot{
  display: none;
}
.above-tech{
  background-color: rgb(240, 240, 240)
}
.row3{
  background-color: rgb(240, 240, 240);
  padding-bottom: 2rem;
  padding-top: 2rem;
}
.row35{
  background-color: rgb(240, 240, 240);
  padding-bottom: 5rem;
  padding-top: 2rem;
}
  .card-group{
    padding-right: 5rem;
    padding-left: 5rem;
    }
.works{
  padding: 3rem
}
.row4{
  background-color: rgb(226, 226, 226);
  padding-top: 2rem;
}
.row5{
  background-color: rgb(0, 32, 53);
  border-top: 5px solid rgb(218, 143, 45)
}
.more-proj{
  font-size: 1.2rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  background-color: rgb(0, 39, 65);
  border-radius: 25px;
  padding: 2rem
}
.blog-object{
  width: 100%;
  height: 2000%
}
.about{
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border-radius: 25px;
  padding: 2rem;
  color: rgb(2, 47, 77);
  font-size: 1.35rem;
}
.contact{
  font-size: 1.25rem;
  color: rgb(0, 39, 65);
  color: rgb(218, 218, 218);
  padding: 2rem;
  font-family: 'Franklin Gothic Medium', 'Arial Narrow', Arial, sans-serif;
  border-radius: 25px;
}
.contact-pic:hover{
  color: rgb(218, 143, 45)
}
.card{
  background-color: rgb(226, 226, 226);
  border: none;
  transition: .25s;
  padding: 1.5rem;
}
.card:hover{
  z-index: 10;
  -webkit-transform: scale(1.025);
  -ms-transform: scale(1.025);
  transform: scale(1.025);
  background-color: rgb(255, 255, 255);
  box-shadow: 1px 0px 26px 0px rgba(50, 50, 50, 0.5);
}
.tech{
  color: rgb(0, 32, 53);
  background-color: rgb(240, 240, 240);
  padding-top:5rem ;
  padding-bottom:5rem ;
}
.tech-images img{
  margin: 1rem;
  opacity: .75;
  transition: .25s;
  width: 5rem;
  filter: grayscale(25%)
}
.tech-images img:hover{
  opacity: 1;
  filter: grayscale(0)

}
/* ============================================================================================================= */
/* ======================================== begin media Queries================================================ */
/* ============================================================================================================= */

@media only screen and (max-width: 1600px) {
  .tennessee,
  .carolina{
     font-size: 1rem;
}
  .about-pic-div{
    display: none;
  }
}
@media only screen and (max-width: 1197px) {
  .name{
    font-size: 1.5rem;
  }
}
@media only screen and (max-width: 1300px) {
.card-group>.card {
    -webkit-box-flex: 1;
    -ms-flex: 50%;
    flex: 50%;
    margin-bottom: 2rem;
  }
}

@media only screen and (max-width: 1000px) {
  .card-group{
    padding-right: 0;
    padding-left: 0;
    }
  .responsive{
    padding-top: 1rem;
    padding-bottom: 1rem;
  }
  .row1-middle{
    font-size: 2.5rem
  }
  .about,
  .contact,
  .tennessee,
  .carolina{
     font-size: 1.1rem;
}
  .more-proj{
    height: 25rem;
  }
  .col-sm-7,
  .col-sm-3,
  .col-sm-6 {
    -webkit-box-flex: 0;
    flex: 0 0 100%;
    max-width: 100%;
  }
  .contact-pic{
    visibility: hidden;
  }
  .pic{
    height: 75px;
    position: relative;
  }
  .tech-images img{
    margin: .25rem;
    opacity: .85;
    transition: .25s;
    width: 4rem;
    filter: grayscale(0%)
  }
.responsiveness-image{
width: 25rem;
  }
}
@media (max-width: 948px){
.name{
  transition: .2s;
  font-size: 1.25rem;
  position: relative;
  top: .25rem;
  }
}
@media (max-width: 865px){
  .card-group>.card {
    -webkit-box-flex: 1;
    -ms-flex: 45%;
    flex: 45%;
    margin-bottom: 2rem;
    z-index: 10;
    -webkit-transform: scale(1.025);
    -ms-transform: scale(1.025);
    transform: scale(1.025);  
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 0px 26px 0px rgba(50, 50, 50, 0.5);
  }
  .card{
    margin:1rem;
  }
  .nav-icons{
    margin-top: 0rem;
    font-size: 1rem
  }
  .row1{
    height: 23rem
  }
  .name{
    transition: .2s;
    font-size: 1.125rem;
    position: relative;
    top: .75rem;
    }
}

@media (max-width: 805px){
  .name{
    transition: .2s;
    font-size: 1.1rem;
    position: relative;
    top: .75rem;
    }
}

@media (max-width: 750px){
  .card{
    padding: 1rem;
  }
  .card-group{
    padding-right: 0;
    padding-left: 0;
    }
  .row1{
    /* display: table-row; */
    height: 40rem

  }
  .col-sm-4{
    -webkit-box-flex: 0;
    flex: 0 0 100%;
    max-width: 100%;
    /* height: 10rem */
  }
  .pic{
    float: left;
    height: 50px;
    margin-top: 0;
    border: 2px solid rgb(221, 221, 221);
    display: none;
  }
  .row1-text{
    font-size: .95rem;
    padding-top: 1rem;
  }
  .resume{
    font-size: 2.5rem;
    position: relative;
    bottom: 6rem
  }
  .carolina{
    float: left;
    font-size: .95rem;
    margin-left: 3rem
  }
  .tennessee{
    float: left;
    font-size: .95rem;
    margin-left: 5rem
  }
  .nav-section{
    text-align: center;
    height: 6rem;
    width: 100%
  }
  .icon-margin{
    margin-right: .8rem
  } 
  .name{
    transition: .2s;
    font-size: 2rem;
    position: relative;
    top: 1.25rem;
    }
  .nav-icons{
    margin-top: 1.3rem;
    font-size: 1.25rem
  }
  .about,
  .more-proj{
    padding: .5rem
  }
}

@media (max-width:625px){
 .row1{
   height: 48rem
 }
}

@media (max-width:577px){
  .card-group>.card {
    -webkit-box-flex: 1;
    -ms-flex: 50%;
    flex: 50%;
    margin-bottom: 2rem;
    z-index: 10;
    -webkit-transform: scale(1.025);
    -ms-transform: scale(1.025);
    transform: scale(1.025);  
    background-color: rgb(255, 255, 255);
    box-shadow: 1px 0px 26px 0px rgba(50, 50, 50, 0.5);
  }
  .icon-text{
    /* visibility: hidden; */
    display: none;
  }
  .icon-margin{
    margin-right: .5rem
  }
  .nav-section{
    height: 7.5rem;
  }
  .row1{
    background-color: rgb(0, 39, 65);
  }
  .card{
    margin: 0
  }
}

@media (max-width: 425px){
  .about,
  .more-proj{
    height: 30rem
  }
  .about{
    height: 50rem;
  }
  .icon-text{
    display: none
  }
  .responsiveness-image{
    width: 15rem;
    }
}

@media (max-width:353px){
  .row1{
    height: 55rem
  }
  
 }

@media (max-width: 321px){
  .carolina{
    margin-left: 2rem;
  }
  .tennessee{
    margin-left: 2rem
  }
  .nav-icons{
    font-size: 1.3rem;
    margin-top: .8rem
  }
  .icon-margin{
    margin-right: .6rem
  }
  .col-sm-4{
    height:11rem
  }
  .more-proj{
    padding: .75rem;
    font-size: 1rem;
    height: 33rem;
  }
  .about{
    padding: .75rem;
    font-size: 1rem;
    height: 40rem;

  }
  .works{
    padding: .5rem
  }

}