.header{
    background-image: url('../images/redtree.jpeg');
    height: 25rem;
    /* background-position-y: -20rem; */
    background-repeat: no-repeat;
    background-size: cover;
}
.name{
    color: rgb(15, 136, 126);
    font-size: 3rem;
    font-weight: bold;
}
.main-input{
    width: 20rem;
    height: 4rem;
    border: none;
}
.head-input-group{
    position: relative;
    bottom: -8rem;
}
.hurry-section{
    background-color: rgba(0, 0, 0, 0.109);
}
.hurry-links{
    list-style-type: none;
    
}
.dark-green{
    color: rgb(15, 136, 126)
}
/* ====================== Navigate ================================= */
.navigate{
    margin-top: 3rem;
    margin-bottom: 3rem;
}
.navigate-text{
    color: rgb(15,136,126);
    font-size: 1.5rem;
    font-family: sans-serif;
    font-weight: 100;
    transition: .25s;
}
.navigate-text:hover{
    color: red;
}
.navigate-icon{
    font-size: 2.5rem;
}
.navigate-button{
    margin-left: 2.5rem;
    margin-right: 2.5rem;
}

.navigate-button:hover{
    text-decoration: none;
    color: red;
}
/* ====================== Works ============================ */
.works-row{
    margin-top: 5rem;
    margin-bottom: 7rem;
}
.works{
    border: none;
    background-color: rgba(15, 136, 126, 0.068);
    font-size: 1rem
}
.card-img-top{
    display: none;
}
.tech-describe{
    font-weight: bold;
    color: rgb(15, 136, 126);
    font-size: 1.5rem;
}
.show-me{
    color: red;
    border-radius: 1.5rem;
    background-color: white;
    border: 1px rgba(15, 136, 126, 0.356) solid;
    padding-left: .75rem;
    padding-right: .75rem;
    padding-top: .25rem;
    padding-bottom: .25rem;
    margin-top: 1rem;
    transition: .25s;
}
.show-me:hover{
    cursor: pointer;
    background-color: rgba(15, 136, 126, 0.274);
}
.show-me:focus{
    outline: none
}
.tech-images img{
    margin: 1rem;
    opacity: .75;
    transition: .25s;
    width: 4.5rem;
    filter: grayscale(50%)
  }
  .tech-images img:hover{
    opacity: 1;
    filter: grayscale(0)
  }
/* ============================ Blog Posts =============================== */
.blog-row{
    margin-top: 7rem;
    margin-bottom: 7rem;
}
.blog-posts{
    background-color: rgba(15, 136, 126, 0.068);
}
.card-columns {
      column-count: 2;
    }
.text{
    font-size: .9rem;
}
/* ================================ About ================================ */
.about-text{
    background-color: rgba(15, 136, 126, 0.068);
    color: rgb(7, 59, 55);
    font-size: .9rem;
    padding: 1rem;
}
.profile-pic{
    height: 10rem;
    width: 10rem;
    border-radius: 100%;
    border: 10px solid rgba(15, 136, 126, 0.068)
}
/* ============================== Contact/Footer ============================= */
.contact-row{
    background-color: rgba(15, 136, 126, 0.068);
    padding-bottom: 2rem;
    padding-top: 1rem;

    }
/* ============================== Modal ====================================== */
.mod-head{
    background-color: rgb(137, 179, 175);
    color: white;
    border: none;
}
.modal-img{
    width: 30rem;
}
/* ============================================================================================================================================= */
/* ===================================================== Media Queries ========================================================================= */
/* ============================================================================================================================================= */
@media (max-width: 992px) {
    .works{
        border: none;
        background-color: rgba(15, 136, 126, 0.068);
        font-size: .75rem
    }
    .tech-describe{
        font-weight: bold;
        color: rgb(15, 136, 126);
        font-size: 1rem;
    }
}

@media (max-width: 770px) {
    .card-group>.works {
        flex: 1 35%;
        margin-bottom: 2rem;
    }
    .navigate-button{
        margin-left: 1rem;
        margin-right: 1rem;
    }
    .card-columns {
        column-count: 1;
      }
    .text{
        display: none;
    }
    .skills{
        display: none;
    }
}
@media (max-width: 576px) {
    .navigate-button{
        margin-left: .70rem;
        margin-right: .70rem;
    }
    .navigate-icon{
        font-size: 1.5rem;
    }
    .navigate-text{
        font-size: 1rem;
    }
    .separator>a>img{
        width: 75%;
        height: 75%;
    }
    .modal-img{
        width: 19rem;
    }
}