body {
    /* background-color: rgb(207, 207, 207); */
    background-image: url("../images/04-Soft-Cloth.png");
}

.navbar{
    background-color: rgba(0, 0, 0, 0);
    box-shadow: 0px 4px 4px 0px rgba(50, 50, 50, 0.49);
    padding: 0 16px;
    z-index: 1000;
    margin-bottom: 0;
    height: 40px;
    min-height: 40px;
    border: 0;
    /* position: fixed; */
    top: 0;
    left: 0;
    right: 0;
    border-radius: 0;
}
#head{
    background-color: rgb(4, 43, 3)
}
.gn-btn{
    background-color: rgb(4, 43, 3);
    box-shadow: 3px 3px 5px 0px rgba(50, 50, 50, 0.47);
    color: rgb(168, 202, 168);
}
.light-green{
    color: rgb(168, 202, 168)
    
}
.light-purple{
    color: rgb(185, 179, 207)
}
.personal-card{
    background-color: rgb(14, 14, 49);
}
.card{
    box-shadow: 6px 6px 11px 0px rgba(50, 50, 50, 0.47);
    border: none;
   
}
.pic{
    border: 3px solid white;
    float: left;
}
.works-body{
    background-color:  #f0f0f0;
    
}
.works:hover{
    box-shadow: 0px 0px 0px 0px rgba(50, 50, 50, 0.49);


}
#read-more{
    color: rgb(185, 179, 207);
}
#read-more:hover{
    text-decoration: none;
    color: rgb(152, 141, 192);
    
}
a{
    color:  rgb(14, 14, 49)
}
a:hover{
    text-decoration: none;
    color: rgb(103, 88, 156);  
}
li{
    list-style-type:none;
    margin-left: 0%
}
ul{
    margin: 0
}
.mod-btn{
    background-color: rgb(152, 141, 192) 
}
.mod-btn:hover{
    background-color: rgb(103, 88, 156)
}

@media screen and (max-width: 640px) {
    #main-nav-link {
        width: 100%;

    }

}