body {
    /* background-image: url(../images/002-sandblasting.png); */
    background-color:#3d131f
}
 .container{
    background-color: #e0cdb9; 
    margin-bottom: 10%
 }
.nav-style {
    background-color: #e0cdb9;
    border-bottom: solid #ff0000 3px;
}
.foot{
    background-color:#1a660b;
    height: 25%; 
    border-top: solid #7eaad1 4px
}

#main-nav-link {
    padding: 8px;
    color: #e0cdb9;
    padding-left: 20px;
    padding-right: 20px;
    background-color: #600000;
    /* border-top: solid 3px #ff0000; 
border-left: #ff0000 solid 3px; 
border-right: solid 3px #ff0000 */
}

#main-nav-link:hover {
    background-color: #ff0000
}

.nav-links {
    color: #600000;
    font-size: 20px;

}
.navbar{
    padding: 0 16px;
    z-index: 1000;
    margin-bottom: 0;
    height: 40px;
    min-height: 40px;
    border: 0;
    border-bottom: 1px solid #e5e5e5;
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    border-radius: 0;
}

a:hover {
    color: #ff0000;
    text-decoration: none
}

button {
    color: #fff3e5;
    background-color: #600000
}

button:hover {
    background-color: #ff0000;

}
.portfolio-label{
    color: #600000;
    font-weight: bold;
}
.portfolioRow{
    background-color: #7eaad1
}

@media screen and (max-width: 640px) {
    #main-nav-link {
        width: 100%;

    }

}